$bg: #2e2b27;
$search: #ffe4c2;
$dropdown: #3e3436;
$link: #919191;
$linkHover: #be5b70;
$subMenu: #2e2b27;
$selection: #3e3436;
$textareaColor: rgba(255, 255, 255, 0);
$textareaTextColor: #ffe4c2;

$color-primary: #714850;
$button-disabled: #889bb933;
$button-color-hover: #a7727d;